{% extends 'settings/index.html' %}
{% block setting %}
    <div class="content">
        <div class="form-card">
            <h2 style="color: red">Ushbu bolim hozirda test rejimda</h2>
            <div class="icon">
                📞
            </div>
            <form id="Facebook">
                <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=1020575319671680&amp;scope=email&amp;response_type=code"
                   class="btn-facebook">Bog'lash</a>
            </form>
        </div>
    </div>
{% endblock %}
