{% extends 'settings/index.html' %}
{% block setting %}
    <div class="content">
        <div class="form-card">
            <div class="icon">🔒</div>
            <h2>Parolni o'zgartirish</h2>
            <form id="passwordForm" action="{% url 'password' request.user.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group password-toggle">
                    <label for="newPassword">Yangi parolingiz</label>
                    <input type="password" name="password" minlength="8" id="newPassword" placeholder="Yangi parol"
                           required>
                    <span class="toggle-btn" onclick="togglePassword('newPassword', this)">👁️</span>
                    <div class="info-text">Kamida 8 ta belgidan iborat bo'lishi kerak</div>
                </div>
                <div class="form-group password-toggle">
                    <label for="confirmPassword">Parolni tasdiqlang</label>
                    <input type="password" name="confirm_password" minlength="8" id="confirmPassword"
                           placeholder="Parolni qayta kiriting" required>
                    <span class="toggle-btn" onclick="togglePassword('confirmPassword', this)">👁️</span>
                </div>
                <button type="submit" class="submit-btn">So‘rov yuborish</button>
            </form>
        </div>
    </div>

    <style>
        .password-toggle {
            position: relative;
        }

        .password-toggle input {
            width: 100%;
            padding-right: 40px; /* Toggle tugmasi uchun joy */
        }

        .toggle-btn {
            position: absolute;
            top: 36px;
            right: 10px;
            cursor: pointer;
            font-size: 18px;
        }
    </style>

    <script>
        function togglePassword(inputId, toggleIcon) {
            const input = document.getElementById(inputId);
            if (input.type === 'password') {
                input.type = 'text';
                toggleIcon.textContent = '🙈';
            } else {
                input.type = 'password';
                toggleIcon.textContent = '👁️';
            }
        }
    </script>
{% endblock %}
